<section class="main">
  <h4><%= link_to('Stans Golf Roll Of Honour', honours_roll_of_honour_path) %></h4>
  <h4><%= link_to('The Peter Thake Trophy (Eclectic)', honours_eclectic_path) %></h4>
  <h4><%= link_to('The Blair Dunlop Trophy (Putting)', honours_putting_path) %></h4>
  <h4><%= link_to('The Knockout Trophy', honours_knockout_path) %></h4>
  <h4><%= link_to('Ryder Cups', honours_ryder_cup_path) %></h4>
</section>
